.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-button {
  background-color: #fff;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.page-button:hover {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.page-button.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.page-button:disabled {
  cursor: default;
  opacity: 0.5;
}
